.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.form-label,
.form-check-input {
    font-weight: bold;
    cursor: pointer;
}

.form-check-label,
.swtich-no {
    font-weight: normal;
}

.wrapper {
    width: 512px;
    height: 512px;
    position: relative;
    overflow: clip;
    background: rgb(22, 22, 22);
    border: 12px solid #222;
}

.wrapper:after {
    content: "";
    display: block;
    z-index: 2;
    width: 100%;
    height: 40%;
    top: 0;
    position: absolute;
    background-image: rgb(22,22,22,0);
    background: linear-gradient(0deg, rgb(22,22,22,0) 0%, rgba(22,22,22,76%) 100%);
}

.icon-background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height:100%;
}
.icon-background img {
    cursor: move;
    opacity:0.8;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
}

.icon-title {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    width: 70%;
    left: 20px;
    top: 20px;
    font-size: 112px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 1;
    -webkit-filter: drop-shadow(0px 0px 15px #333);
    filter: drop-shadow(0px 0px 5px #000);
}

.icons-wrapper {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    right: 0;
    height: 100%;
    width: 20%;
}

.icons-wrapper:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(22,22,22,0);
    background: linear-gradient(90deg, rgb(22,22,22,0) 0%, rgba(22,22,22,75%) 90%)
}

.no-icons .icons-wrapper:after {
    display: none;
}

.icons {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.icons div {
    height: 25%;
}

.icons img {
    width: 100%;
}

.magic {
    margin-bottom: 10px;
}